@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-primary: #00427f;
  --color-label: #b4b4b4;
  --color-text: #b4b4b4;
  --font-family: "Poppins";
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /*display: grid;
  place-items: center;
  /* background: var(--color-primary); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  background-color: #f4f4f4;
}

.card {
  position: relative;
  width: 360px;
  height: 300px;
  background: #e7e7e7;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.08);
}

.card h2 {
  color: #262626;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 0 2px;
}

.card p {
  color: var(--color-text);
  font-size: 14px;
  margin: 0 0 16px;
}

.card .pulse-green {
  position: absolute;
  height: 18px;
  width: 18px;
  /* background: var(--color-primary); */
  background-color: #008148;
  top: 52px;
  right: 40px;
  border-radius: 50%;
}

.card .pulse-green::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* border: 1px solid var(--color-primary); */
  border: 1px solid #008148;
  border-radius: 50%;
  left: -1px;
  top: -1px;
  animation: pulse 2s linear infinite;
  transform-origin: center;
  opacity: 0.8;
  scale: 0;
}

.card .pulse-red {
    position: absolute;
    height: 18px;
    width: 18px;
    /* background: var(--color-primary); */
    background-color: #C1292E;
    top: 52px;
    right: 40px;
    border-radius: 50%;
  }
  
  .card .pulse-red::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 1px solid var(--color-primary); */
    border: 1px solid #C1292E;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    animation: pulse 2s linear infinite;
    transform-origin: center;
    opacity: 0.8;
    scale: 0;
  }

@keyframes pulse {
  70% {
    scale: 0;
    opacity: 0.8;
  }

  100% {
    scale: 2;
    opacity: 0;
  }
}

.card .chart-area {
  position: relative;
}

.card .chart-area .grid {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0% 3%,
    #f9f9f9 3% 3.5%,
    transparent 3% 18.65%
  );
}

.card .chart-area .grid::after {
  content: "";
  position: inherit;
  z-index: -1;
  top: inherit;
  bottom: inherit;
  width: inherit;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(231, 231, 231, 1),
    rgba(231, 231, 231, 0.7),
    rgba(231, 231, 231, 1)
  );
}

body .apexcharts-tooltip.apexcharts-theme-light {
  color: var(--color-text);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: none;
  padding: 8px 6px 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 0;
}

.apexcharts-tooltip-title,
.apexcharts-zaxistooltip-bottom.apexcharts-theme-light {
  display: none;
}